
body {
    background-color: #ffeec9;
    font-family: Arial;
    font-size: 15px;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 30px;
}

li {
    list-style: none;
    h1{
        font-size: 25px;
    }
}

a {
    text-align:center;
    display:block;
    background-color:aliceblue;
    color: #111111;
    padding: 10px;
    margin: 4px;
    
}
